<h1 class="profileTitle">Mi Perfil</h1>

<div class="profileData">
  <h2 class="profileDataTitle">Bienvenido, {{user.nombre}}!</h2>
  <h3 class="profileRole">Tu rol: {{user.role}}</h3>
  {{#if this.isAdmin}}
    <a class="profileLink" href="/realtimeproducts">Modificar Productos</a>
    <a class="profileLink" href="/users">Ver usuarios</a>
  {{else}}
    {{#if this.isPremium}}
      <a class="profileLink" href="/realtimeproducts">Seccion Ventas</a>
    {{/if}}
    <a class="profileLink" href="/chat">Chat en vivo</a>
    <a class="profileLink" href="/products">Tienda</a>
  {{/if}}
  <form action="/api/users/logout" method="POST" class="profileLogout">
    <button type="submit" class="profileLogoutButton">Logout</button>
  </form>
</div>