<h1>Productos en tiempo real</h1>

<section id="seccionProductos"></section>

<h2>Agrega tu producto</h2>

<form>
    <input type="text" id="title" placeholder="Nombre del producto">
    <input type="text" id="description" placeholder="Descripcion">
    <input type="number" id="price" placeholder="Precio">
    <input type="text" id="thumbnails" placeholder="URL imagen">
    <input type="text" id="code" placeholder="Código">
    <input type="number" id="stock" placeholder="Stock">
    <input type="text" id="category" placeholder="Categoria Producto">
    <button type="button" id="btnEnviar">Agregar</button>
</form>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.min.js"></script>
<script src="/js/index.js"></script>