<h1 class="tituloLogin tituloRegister tituloUsuarios">Registrate</h1>
<form class="registerForm contenedorForm" action="/api/users/register" method="post">
    <div class="datoRegister nombreRegister datoForm nombreForm">
        <label for="first_name">Nombre:</label>
        <input type="text" id="first_name" name="first_name" required>
    </div>
    <div class="datoRegister apellidoRegister datoForm apellidoForm">
            <label for="last_name">Apellido:</label>
            <input type="text" id="last_name" name="last_name" required>
    </div>
    <div class="datoRegister emailRegister datoForm emailForm">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
    </div>
    <div class="datoRegister passwordRegister datoForm passwordForm">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
    </div>
    <div class="datoRegister edadRegister datoForm edadForm">
        <label for="age">Edad:</label>
        <input type="number" id="age" name="age" required>
    </div>
    <div class="btnDiv registrarDiv">
        <button class="btnLogin btnForm" type="submit">Registrar</button>
    </div>
</form>