<h2>Restablece tu contraseña</h2>
<form action="/api/users/reset-password/" method="POST">
    <label for="email">Ingresa tu correo:</label>
    <input type="email" id="email" name="email" required>
    <label for="token">Número de validación:</label>
    <input type="text" id="token" name="token" required> 
    <label for="password">Nueva Contraseña:</label>
    <input type="password" id="password" name="password" required>
    <button type="submit">Restablece tu contraseña</button>
</form>

{{#if error}}
    <p class="error-message">{{error}}</p>
{{/if}}