    <h2>Ticket de Compra</h2>
    <p>Código de Ticket: {{code}}</p>
    <p>Fecha de Compra: {{purchase_datetime}}</p>
    <p>Monto Total: ${{amount}}</p>
    <p>Comprador: {{purchaser}}</p>

<a href="/products">Volver a tienda</a>