#seccionProductos {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

* {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.card, .contenedorProducto {
    display: flex;
    flex-direction: column;
    width: 300px;
    align-items: center;
    flex-wrap: wrap;
}

.imagen {
    max-width: 100%;
    height: auto;
    max-height: 200px;
}

.titulo {
    color: #07073b;
    font-size: 24px;
    text-align: center;
}

.precio {
    color: #8e3c10;
    font-size: 20px;
}

.descripcion {
    color: rgb(49, 44, 138);
    font-size: 16px;
    font-style: italic;
}


.carrito-producto {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.carrito-producto-info {
    display: flex;
    align-items: center;
}

.carrito-producto-info img {
    max-width: 100px;
    margin-right: 10px;
}

.carrito-producto-info p {
    margin: 0;
}
