* {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#seccionProductos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.articuloProductos {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card, .contenedorProducto {
    display: flex;
    flex-direction: column;
    width: 300px;
    align-items: center;
    flex-wrap: wrap;
}

.imagen {
    max-width: 100%;
    height: auto;
    max-height: 200px;
}

.titulo {
    color: #07073b;
    font-size: 24px;
    text-align: center;
}

.precio {
    color: #8e3c10;
    font-size: 20px;
}

.descripcion {
    color: rgb(49, 44, 138);
    font-size: 16px;
    font-style: italic;
}

.carrito-producto {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.carrito-producto-info {
    display: flex;
    align-items: center;
}

.carrito-producto-info img {
    max-width: 100px;
    margin-right: 10px;
}

.carrito-producto-info p {
    margin: 0;
}

/* Estilos comunes login y register*/
.tituloUsuarios {
    font-size: 24px;
    text-align: center;
}

.tituloLogin, .tituloRegister {
    margin-bottom: 20px;
}

.datoForm {
    margin-bottom: 15px;
}

.btnForm {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: #fff;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
}

.btnDiv {
    display: flex;
    justify-content: center;
}

/* Estilos específicos login y register */
.registerForm, .loginForm {
    max-width: 400px;
    margin: 0 auto;
}

.contenedorForm {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
}

.subtitUsuarios {
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
}

/* Datos usuarios */

.datosUsuario {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}

.contenedorPerfil {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px 0;
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    margin: 0 auto;
}

.btnGithub {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .btnGithub button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .btnGithub button:hover {
    background-color: #555;
  }