<header class="headerContainer">
    <div class="headerDivContainer">
        <h1 class="titleHeader">Teccomerce</h1>
        <nav>
            <ul class="listHeader">
                <li class="listItemHeader">
                    <a class="listItemLinkHeader" href="/products">Productos</a>
                </li>
                <li class="listItemHeader">
                    <a class="listItemLinkHeader" href="/login">Login</a>
                </li>
                <li class="listItemHeader">
                    <a class="listItemLinkHeader" href="/register">Registrarme</a>
                </li>
                <li class="listItemHeader">
                    <a class="listItemLinkHeader" href="/carts/{{cartId}}">
                        <img src="/img/Carrito.png" alt="Carrito" class="cartIcon">
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>